.start-container{
  text-align: center;
  margin: auto;
}

.start-btn{
  width: 100px;
  height: 40px;
  font-size: 20px;
  background-color: darkorchid;
  border: none;
  color: white;
  margin-bottom: 10px;
}